# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders and files
.vscode/
.idea/
*.swp

# Optional: Ignore compiled output
dist/
build/
